/* background.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas-container {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 8, 115, 1) 30%,
    rgba(40, 0, 135, 1) 45%,
    rgba(2, 84, 199, 1) 66%,
    rgba(0, 0, 0, 1) 88%
  );
}
